@import "collapsible";
@import "taglist";
@import "utils";
@import "nav";
@import "grid";
@import "dict";

textarea.nihongo, div.nihongo, input.nihongo, .nihongo {
  font-size: larger !important;
  font-family: Meiryo, MS Gothic, sans-serif !important;
}

.tag .nihongo {
  font-weight: normal !important;
}

.compact {
  font-size: 14px;
  line-height: 1.2;
}

.terse {
  line-height: 1.2;
}

.ng-cloak {
  display: none;
}

div.selections > a {
  margin: 0.5mm;
}

.area textarea {
  height: 100%;
}

.full {
  width: 100%;
}

textarea.autoresize {
  overflow: hidden;
  resize: none;
}

.holder {
  display: inline-block;
}

.centered {
  text-align: center;
}

.distance {
  margin-bottom: 0.5em;
}

.logo-img {
  display: inline-block;
  height: 1.5cm;
  width: 1.5cm;
  margin: 2mm 2mm 2mm 5mm;
}

.brand-title {
  height: 1.5cm;
  font-size: 1.2cm;
  font-weight: bold;
  vertical-align: middle;
  font-family: Arial;
}

a.non-existent {
  color: orange;
}

td.checkbox_cell {
  vertical-align: middle;
  width: 10%
}

.button-pane span {
  margin: 10px;
}

.tr {
  display: table-row;
}

.tc {
  display: table-cell;
}

div.selections {
  margin-bottom: 1em;
}

.example-block {
  margin-bottom: 1mm;

  textarea {
    padding: 1mm;
    margin-bottom: 1mm;
  }
}

//repeat form
.example-data {
  @media (min-width: map-get($grid-breakpoints, sm)) {
    border-left: 1px grey dotted;
  }
}

.mark-btns button {
  width: calc(20% - 1mm);
  border: 0;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.koto-header {
  border-bottom: 1px dotted lightgray;
  margin-bottom: 1em;
}

.card-question {
  span {
    border-bottom: 1mm white;
  }

  span.target {
    border-bottom: 1mm #872F00 solid;
  }
}

.addinfo {
  border: 0.5mm lightgray dotted;
  padding: 0.25em;
  border-radius: 0.25em;
  margin-right: 1mm;
  margin-top: 0.25em;
  display: inline-block;
  font-size: small;
}

a.btn-x {
  color: black;

  &:hover {
    color: black;
  }
}

.rec-item {
  float: left;
  height: 2.9cm;
  width: 4cm;
  overflow-x: hidden;
  overflow-y: hidden;
  border: 1px dotted #808080;
  text-overflow: clip;
  display: inline-block;
  position: relative;
  margin: 1mm;
  padding: 1mm;
  font-size: 14px;

  & .trim {
    text-overflow: ellipsis;
    word-break: break-all;
    line-break: loose;
    line-height: 1.1;
  }
}

.wadd-recs {
  padding: 0;
}

.rec-container {
  height: 3cm;
  overflow-y: hidden;
}

.card-mode {
  font-size: large;
  font-weight: bold;
}

.candidate {
  height: 5em;
  width: 8em;
  margin: 2mm;
  float: left;
  display: inline-block;
  border: 1px #808080 dotted;
  overflow-x: hidden;
  overflow-y: hidden;
}

.candidate > div.cand-fld {
  display: list-item;
}

.candidate > .cand-fld {
  margin: 0 0 1mm;
  height: 1.3em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cand-bad .cand-writing {
  background-color: #ffe0ef;
}

.cand-good .cand-writing {
  background-color: #d9ffe6;
}

.candidate .icons {
  z-index: 1;
  position: inherit;
}

@mixin paddings {
  padding-left: $grid-gutter-width-base / 2;
  padding-right: $grid-gutter-width-base / 2;
}

$menu-width: 240px;

.left-nav {
  @include paddings;

  @media (min-width: map-get($grid-breakpoints, md)) {
    width: $menu-width;
  }

  @media (max-width: map-get($grid-breakpoints, md)) {
    width: 100%;
  }
}

.main-content {
  @include paddings;

  width: 100%;
  @media (min-width: map-get($grid-breakpoints, md)) {
    width: calc(100% - #{$menu-width});
  }
}

@import "../bootstrap/scss/buttons";

$btn-paddings-y-mini: 0.15rem !default;
$btn-paddings-x-mini: 0.35rem !default;

.btn-mini {
  @include button-size($btn-paddings-y-mini, $btn-paddings-x-mini, $font-size-sm, $btn-border-radius-sm);
}

.xsmall {
  font-size: 10px;
}
