@import "collapsible";
@import "taglist";
@import "utils";
@import "nav";

textarea.nihongo, div.nihongo, input.nihongo, .nihongo {
  font-size: larger !important;
  font-family: Meiryo, MS Gothic, sans-serif !important;
}

div.selections > a {
  margin: 0.5mm;
}

.area textarea {
  height: 100%;
}

.full textarea, .full input {
  width: 100%;
}

textarea.autoresize {
  overflow: hidden;
  resize: none;
}

.holder {
  display: inline-block;
}

.centered {
  text-align: center;
}

ng-cloak {
  display: none;
}

a.non-existent {
  color: orange;
}
