/* <![CDATA[ */
div.container {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

hr {
  color: #ddd;
  border: dotted 1px;
  margin: 0;
}

div.sidebar {
  width: 15%;
  min-width: 150px;
  max-width: 250px;
}

div.column {
  float: left;
}

div.content {
  width: auto;
  max-width: 80%;
  padding: 10px;
}

.menu-wrapper {
  padding-bottom: 10px;
  padding-top: 10px;
}

.colborder {padding-right:10px;margin-right:10px;border-right:1px dotted #ddd;}

.edit_error_class {
  display: block;
  color: red;
}

.sidebar ul {
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
}


.sidebar ul li {
	margin:0;
	padding:0;
	list-style:none;
	border:1px solid #ccc;
	border-bottom:none;
}

.sidebar ul li a {
	display:block;
	padding:3px;
	text-indent:30px;
	text-decoration:none;
}

.sidebar ul li span {
	display:block;
	padding:3px;
	text-indent:30px;
	text-decoration:none;
}

.sidebar ul li a:hover {
	background-color: #eee;
}

body {
  font-family: Calibri, Helvetica, Arial;
}

h1 {
  font-family: Cambria;
}

  /* ]]> */
